.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.infoOnlineUser {
    display: flex;
    align-items: center;
}

.onlineUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
    margin-bottom: 8px;
    padding: 0 10px;
}

.profilePicContainer {
    position: relative;
}

.activeUser {
    background-color: #1eff00;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 16px;
    right: 12px;
}

.message-box {
    height: 92%;
    border: 1px solid #000;
    padding: 0 20px;
    position: relative;
}

.message-list {
    height: 540px;
    overflow-y: scroll;
    padding: 20px 0;
    padding-bottom: 130px;
}

.message {
    background-color: #ccc;
    display: inline-block;
    max-width: 80%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.message span {
}

.message.own {
    background-color: rgb(0, 76, 255);
    color: #fff;
}
.rightDiv {
    display: flex;
    justify-content: flex-end;
}

.inputMessageContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.inputMessage {
    width: 100%;
    padding: 0 20px;
    resize: none;
}
